In [1]:
import pandas as pd
import nltk
from nltk import tokenize as tk
from nltk import FreqDist
from nltk.corpus import stopwords
from matplotlib import pyplot as plt
import string
from collections import Counter

In [2]:
# Run once
# nltk.download('punkt')
# nltk.download('stopwords')

In [3]:
oly = pd.read_csv('olympics_twitter.csv', encoding = 'utf-8')
oly.columns

Index(['Date', 'Title', 'Url', 'Language', 'Author', 'Avatar',
       'Category Details', 'Checked', 'City', 'Display URLs', 'Expanded URLs',
       'Full Name', 'Full Text', 'Gender', 'Hashtags', 'Impact', 'Impressions',
       'Latitude', 'Location Name', 'Longitude', 'Media Filter', 'Media URLs',
       'Mentioned Authors', 'Original Url', 'Thread Author',
       'Thread Created Date', 'Thread Entry Type', 'Thread Id', 'Thread URL',
       'Twitter Author ID', 'Twitter Channel Role', 'Twitter Followers',
       'Twitter Following', 'Twitter Reply Count', 'Twitter Reply to',
       'Twitter Retweet of', 'Twitter Retweets', 'Twitter Tweets',
       'Twitter Verified', 'Updated', 'Reach (new)'],
      dtype='object')

In [4]:
oly[['Author', 'Language']].groupby(['Language']).count()

          Author
Language
ar             2
cs             1
cy             1
de            27
en           143
es            16
id             1
it             2
ja             1
nl             1
pt             3
ro             1
sv             1

In [5]:
oly['Language'].iloc[0]

'en'

In [6]:
oly_en = oly[oly['Language'] == 'en']
oly_en.shape

(143, 41)

In [7]:
oly_en['Full Text'].iloc[0]

"@TeamUSA Literally all of the 2012 Olympics for women's artistic gymnastics"

In [8]:
oly_en['Full Text'].iloc[0].lower()

"@teamusa literally all of the 2012 olympics for women's artistic gymnastics"

In [9]:
tk.word_tokenize(oly_en['Full Text'].iloc[0].lower())

['@',
 'teamusa',
 'literally',
 'all',
 'of',
 'the',
 '2012',
 'olympics',
 'for',
 'women',
 "'s",
 'artistic',
 'gymnastics']

In [10]:
tk.sent_tokenize(oly_en['Full Text'].iloc[0].lower())

["@teamusa literally all of the 2012 olympics for women's artistic gymnastics"]

In [11]:
stopwords.words('english')[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [16]:
len(stopwords.words('english'))

179

In [12]:
text_lower = [x.lower() for x in oly_en['Full Text']]
tokens = [tk.word_tokenize(x) for x in text_lower]
filtered = []
for i in tokens:
    filtered.append([word for word in i if word not in stopwords.words('english')])

In [13]:
filtered[0]

['@',
 'teamusa',
 'literally',
 '2012',
 'olympics',
 'women',
 "'s",
 'artistic',
 'gymnastics']

In [14]:
freq1 = [FreqDist(x) for x in filtered]
f1_counts = [Counter(x) for x in freq1]
wordcounts = Counter()
for i in f1_counts:
    wordcounts += i

In [15]:
counts = pd.DataFrame.from_dict(dict(wordcounts), orient='index').sort_values(0, ascending = False)
counts.head(10)

           0
@        420
.         82
!         75
teamusa   64
#         62
:         55
https     41
,         27
uswnt     22
?         12