In [1]:
from datetime import datetime as dt
import pandas as pd

In [2]:
date_string_1 = 'November 23 2023'
date_string_2 = 'Nov 24, 2023'
date_string_3 = '2023-25-11'
type(date_string_1)

str

In [3]:
dt.strptime(date_string_1, '%B %d %Y')

datetime.datetime(2023, 11, 23, 0, 0)

In [4]:
dt.strptime(date_string_2, '%b %d, %Y')

datetime.datetime(2023, 11, 24, 0, 0)

In [5]:
dt.strptime(date_string_3, '%Y-%d-%m')

datetime.datetime(2023, 11, 25, 0, 0)

In [6]:
pd.Timestamp(date_string_1)

Timestamp('2023-11-23 00:00:00')

In [7]:
pd.Timestamp(date_string_2)

Timestamp('2023-11-24 00:00:00')

#### Notice the error in the next code cell. `pd.Timestamp()` is pretty good at guessing a correct format to convert, but it does not always work. This is why `dt.strptime()` is sometimes better and necessary.

In [8]:
pd.Timestamp(date_string_3)

DateParseError: month must be in 1..12: 2023-25-11

In [9]:
dates_df = pd.DataFrame({'date_1': [date_string_1]*10, 'date_2': [date_string_2]*10, 'date_3': [date_string_3]*10})
dates_df.head()

             date_1        date_2      date_3
0  November 23 2023  Nov 24, 2023  2023-25-11
1  November 23 2023  Nov 24, 2023  2023-25-11
2  November 23 2023  Nov 24, 2023  2023-25-11
3  November 23 2023  Nov 24, 2023  2023-25-11
4  November 23 2023  Nov 24, 2023  2023-25-11

In [10]:
type(dates_df['date_1'].iloc[0])

str

In [11]:
datetime_df = pd.DataFrame()
datetime_df['date_1'] = [dt.strptime(x, '%B %d %Y') for x in dates_df['date_1']]
datetime_df['date_2'] = [dt.strptime(x, '%b %d, %Y') for x in dates_df['date_2']]
datetime_df['date_3'] = [dt.strptime(x, '%Y-%d-%m') for x in dates_df['date_3']]
datetime_df.head()

      date_1     date_2     date_3
0 2023-11-23 2023-11-24 2023-11-25
1 2023-11-23 2023-11-24 2023-11-25
2 2023-11-23 2023-11-24 2023-11-25
3 2023-11-23 2023-11-24 2023-11-25
4 2023-11-23 2023-11-24 2023-11-25

In [12]:
type(datetime_df['date_1'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
datetime_df['date_1'].iloc[0] - datetime_df['date_2'].iloc[0]

Timedelta('-1 days +00:00:00')

In [14]:
datetime_df['date_1'].iloc[0].year

2023